body{
  background-image: url("background.jpg");
  background-size: cover;
  bottom: 0;
  font-family: 'Open Sans', sans-serif;
  left: 0;
  right: 0;
  top: 0;
  -webkit-font-smoothing: antialiased;
}
header{
  display: flex;
  overflow: hidden;
  white-space: nowrap;
  justify-content: space-between;
}
#topleft{
/*  text-align: left;*/
  border: 1px solid rgba(255,255,255,0.8);
  border-radius: 6px;
  color: white;
  display: inline-block;
  font-size: 16px;
  font-weight: bold;
  margin-left: 20px;
  margin-top: 10px;
  padding: 10px 20px;
 /* display: flex;*/

}
#topright{
  color: white;
  display: flex;
  display: inline-block;
  font-size: 10px;
  padding-left: 950px;
}
#topright2{
  color: white;
  display: inline-block;
  font-size: 10px;
  padding-left: 40px;
}
#container{
  background-color: rgba(255,255,255,0.9);
  border-radius: 3px;
  display: block;
  height: 550px;
  margin: 0 auto;
  margin-top: 70px;
  /*position: relative;*/
  max-width: 500px;
  text-align: center;
}
#logo{
  display: center;
  padding-top: 30px;

}
#heading{
  font-weight: bolder;
  margin-top: 30px;
}
#subheading{
  color: gray;
  margin-top: -15px;
}
#coupon{
  margin-top: 25px;
}
#name{
  border: 1px solid lightgray;
  border-radius: 3px;
  font-size: 20px;
  margin-top: 35px;
  padding: 10px;
  text-align: center;
}
#submit{
  background-color: #43B02A;
  border-radius: 3px;
  border: 1px;
  color: white;
  font-size: 20px;
  margin-bottom: 30px;
  margin-top: 8px;
  padding: 10px;
  text-align: center;
}
#account{
  color: gray;

}
#login{
  text-decoration: none;
}

#free{
  margin-top: 20px;
}
footer{
  bottom: 0;
  color: white;
  left: 0;
  margin-top: 90px;
  /*position: absolute;*/
  padding: 1rem;
  right: 0;
  text-align: center

}

.footer{
  font-size: 7px;
   max-width: 500px;
}
#terms{
  /*margin-top: 5px;*/
  font-size: 13px;
}
p{
  display: inline;
  font-size: 14px;
  padding: 8px;
}
a{
  color: white;
}
#icons{
  margin-top: 15px;
  padding-left: 40px;
}

/*@media (min-height: 500px) and (min-width: 580px) {
    .pagetwo{
      height: auto;
      width: 100%;
    }
}*/
