body {
/*  display: flex;
  justify-content: center;
  align-items: center;*/

}

#backboard {
  align-items: center;
  border: 0px;
  display: flex;
  justify-content: center;
  flex-direction: row;
  flex-wrap: wrap;
  padding-left:200px;
  width: 1000px;
  overflow: hidden;
  white-space: nowrap;
  /*background-color: black;*/
}

.circle {
  background: white;
  border: 0px ;
  border-radius: 40px;
  display: flex;
  height: 60px;
  justify-content: space-between;
  margin: 4px;
  width: 60px;
 /* width: 1100px;*/
}

nav{
  display: flex;
  flex-direction: row;
  justify-content: center;
  margin-top: 50px;
  overflow: hidden;
  white-space: nowrap;
}

#playerinfo{
  width: 50px;

}
#forminfo{
   padding-right: 30px;
}

#directions{

  float: left;
  padding-right: 30px;
}

span{
  color:rgb(290,52,103);
  /*font-style: italic;*/
  position: absolute;
  text-align: center;

}

#score{
  padding-left: 20px;
  padding-right: 30px;
}

#level{
  padding-left: 20px;
}

#levelNum{
  padding-left: 20px;
}

.info h3{
  font-family: "Times New Roman", Times, serif;
}

.landingcontainer{
  align-items: center;
  background-color:rgba(0,0,0,0);
  background-color: white;
  display: flex;
  justify-content: center;
}

.button {
  background-color:rgba(0,0,0,0);
  border: 0px;
  font-size: 80px;
  margin-top: 250px;
  position: absolute;
}


/*CHECKAND UPDATE*/
@media only screen and (min-device-width : 768px) and (max-device-width : 1024px) {
    .index {
      background-color: lightpink;
    }
  }


