body {
 /* display: flex;
  justify-content: center;
  align-items: center;*/

}

#backboard {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  width: 1000px;
  padding-left:200px;
  border: 0px;
  /*background-color: black;*/
}

.circle {
  display: flex;
  justify-content: space-between;
  width: 60px;
  margin: 4px;
  height: 60px;
  border: 0px ;
  background: white;
  border-radius: 40px;
 /* width: 1100px;*/
}

nav{
  display: flex;
  flex-direction: row;
  justify-content: center;
  margin-top: 50px;
}

#game-info{

  float: left;
  padding-right: 30px;
}

span{
  color:rgb(290,52,103);
  /*font-style: italic;*/
  position: absolute;
  text-align: center;

}

#score{
  padding-left: 20px;
}

#pause{
  padding-left: 20px;
}

.info h3{
  font-family: "Times New Roman", Times, serif;
}

.landingcontainer{
  background-color: white;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color:rgba(0,0,0,0);
}

.button {
  position: absolute;
  margin-top: 250px;
  font-size: 80px;
  background-color:rgba(0,0,0,0);
  border: 0px;
}


/*CHECKAND UPDATE*/
@media only screen and (min-device-width : 768px) and (max-device-width : 1024px) {
    .index {
      background-color: yellow;
    }
  }


